.planets-container {
  background: url("../../assets/images/thumb-1920-6301.jpg") no-repeat;
  background-size: cover;
  background-position: right 23% bottom 75%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  // z-index: -10;
  padding-top: 11%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  & * {
    z-index: 10;
  }
}

.planets-card {
  flex-direction: column !important;
  // border: 1px solid orange;
  padding: 2rem !important;
  padding-block: 5rem !important;
  padding-bottom: 7rem !important;
  border-radius: 50%;
  div {
    width: 100% !important;
  }
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center !important;
  width: 60%;
  height: 500px;
  // border: 1px solid red;
  & > * {
    z-index: 10000 !important;
  }
}

.carousel-item {
  width: 60% !important;

  margin: auto;
  left: 20% !important;
}

.carousel-indicators {
  bottom: -10% !important;
}

.pilot-starship-modal-btns {
  position: absolute;
  bottom: 0;
  left: 0;
}

.search-planets {
  margin: auto !important;
  margin-bottom: 1rem !important;
  min-width: fit-content !important;
  flex-direction: column !important;
  div {
    width: 100% !important;
  }
}
