.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 7777 !important;
  background: rgba(0, 0, 0, 0.711);
}

.modal-container {
  position: fixed;
  top: 20vh;
  left: 20%;
  width: 60%;
  z-index: 8888 !important;
  overflow: auto;
  overflow-x: hidden;
  background-color: #fff;
  color: #000;
  max-height: 60%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  .header-modal {
    min-width: 100%;
  }
}

.header-modal {
  background-color: blanchedalmond;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    margin: 0;
    color: #333;
    font-weight: 300;
  }
  button {
    border: none;
    padding: 0.8rem;
    margin-right: 2%;
    padding-inline: 1.3rem;
    font-size: 1.2rem;
    font-weight: 300;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    &:hover {
      background-color: rgb(252, 219, 170);
    }
  }
}

.content {
  padding: 1rem;
}

.actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.modal-loading {
  text-align: center;
  color: #fff;
  font-weight: 800;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}
