@import "../../Variables.scss";

.flex {
  display: flex;
  gap: var(--gap, 2rem);
}

.header {
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  background-color: transparent;
  width: 100%;
  z-index: 20;
}

.mobile-nav-toggle {
  display: none;
}

.logo {
  min-width: 100px;
  min-height: 80px;
  margin: 1rem;
  background: url("../../assets/images/logo.png") no-repeat center center;
  background-size: 100% 100%;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 100%;
  background-color: hsla(0, 0%, 0%, 0.75);
  z-index: 5000 !important;

  a {
    text-decoration: none;
    color: #fff;
    transition: all 0.75s ease;
    &:hover {
      color: goldenrod !important;
    }
    span {
      font-weight: 800;
      margin-inline-end: 0.75em;
    }
  }
}

.active-nav {
  color: rgb(247, 218, 105) !important;
}

@supports (backdrop-filter: blur(0.75em)) {
  .nav-list {
    background-color: hsla(0, 0%, 100%, 0.1);
    backdrop-filter: blur(0.5rem);
  }
}

@media (max-height: 490px) {
  .nav-list {
    padding: 1rem 1rem !important;
  }
}

@media (max-width: 860px) {
  .nav-list {
    position: fixed;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: 10rem 2rem;
    z-index: 1000;
    transform: translateX(100%);
    transition: all 0.7s ease-out;
    font-size: 1.1rem;
  }

  .nav-list[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    background: url("../../assets/images/icon-hamburger.svg") no-repeat center
      center;
    width: 2rem;
    border: 0;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    z-index: 9999;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background: url("../../assets/images/icon-close.svg") no-repeat center
      center;
  }
}

@media (min-width: 861px) and (max-width: 1100px) {
  .nav-list {
    a {
      span {
        display: none;
      }
    }
  }
}

@media (min-width: 861px) {
  .nav-list {
    padding-block: 2rem;
    padding-inline: clamp(3rem, 10vw, 10rem);
  }
}
