.loading-container {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.white-loader {
  background-color: #fff !important;
}
.grey-loader {
  background-color: #333 !important;
}
