.species-container {
  background: url("../../assets/images/thumb-1920-51789.jpg") no-repeat;
  background-size: cover;
  background-position: right 23% bottom 75%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: -10;
  padding-top: 11%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  & * {
    z-index: 10;
  }
}

.species-card {
  flex-direction: column !important;
  div {
    width: 100% !important;
  }
}

.species-modal-btns {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between !important;
  padding-inline: 1.5rem;
}
