.people-container {
  background: url("../../assets/images/thumb-1920-80007.jpg") no-repeat;
  background-size: cover;
  background-position: right 23% bottom 75%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: -10;
  padding-top: 11%;
  height: 100%;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  & * {
    z-index: 10;
  }
}

.wrapper-people {
  width: 100%;
  justify-content: space-around !important;
}

@media (max-width: 992px) {
  .wrapper-people {
    max-width: 100% !important;
    padding-top: 5rem;

    & > * {
      max-width: 70% !important;
      margin: auto;
      margin-bottom: 2rem;
    }
  }
}

.person-card {
  flex-direction: column !important;
  div {
    width: 100% !important;
  }
}

.person-modal-btns {
  flex-direction: row !important;
  justify-content: space-between !important;
  padding-inline: 1.5rem;
}
