.people-container {
  background: url("../../assets/images/thumb-1920-800073.jpg") no-repeat;
  background-size: cover;
  background-position: right 50% bottom 75%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: -10;
  padding-top: 11%;
  height: 100%;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  & * {
    z-index: 10;
  }
}

.wrapper-people {
  width: 100%;
  justify-content: space-around !important;
}

.person-card {
  flex-direction: row;
  margin-block: 1rem;
  div {
    width: 100% !important;
  }
}

.person-card:nth-child(1),
.person-card:nth-child(4),
.person-card:nth-child(5),
.person-card:nth-child(8),
.person-card:nth-child(9) {
  border-radius: 0 50px 0 50px;
}

.person-modal-btns {
  flex-direction: column;
  justify-content: space-around !important;
  padding-inline: 1.5rem;
  .button-86 {
    &::before {
      background-color: rgb(135, 130, 124) !important;
    }
  }
}

@media (max-width: 1375px) {
  .search-container {
    margin-top: 3rem !important;
  }
}

@media (max-width: 992px) {
  .wrapper-people {
    max-width: 100% !important;
    padding-top: 2rem;

    & > * {
      max-width: 70% !important;
      margin: auto;
      margin-bottom: 2rem;
    }
  }
}

@media (max-width: 600px) {
  .search-container {
    margin-top: 5rem !important;
  }

  .person-card {
    flex-direction: column !important;
    min-width: 90% !important;
    text-align: center;
    h3 {
      font-size: 1.2rem !important;
    }
    p {
      font-size: 1rem !important;
      span {
        font-size: 1rem !important;
      }
    }
  }

  .person-modal-btns {
    justify-content: space-around !important;
    padding-inline: 1rem !important;
    .button-86 {
      width: 80px;
      font-size: 1rem;
      padding: 5px 10px;
      margin-bottom: 1rem;
      &::before {
        background-color: rgb(135, 130, 124) !important;
      }
    }
  }
}

@supports (backdrop-filter: blur(0.75em)) {
  .person-card:nth-child(2),
  .person-card:nth-child(3),
  .person-card:nth-child(6),
  .person-card:nth-child(7),
  .person-card:nth-child(10) {
    color: #fff;
    border-radius: 50px 0 50px 0;
    background-color: hsla(0, 0%, 100%, 0.2);
    backdrop-filter: blur(0.2rem);
    .person-modal-btns {
      .button-86 {
        &::before {
          background-color: #28282d !important;
        }
      }
    }
  }
}
